
<a class="btn btn-primary mr-2" routerLink="foo">Foo</a>
<a class="btn btn-primary mr-2" routerLink="bar">Bar</a>
<a class="btn btn-danger mr-2" routerLink="./">None</a>

<div style="border: 2px solid red">
  <router-outlet></router-outlet>
</div>

<ng-template #loading>
  Bücher werden geladen...
</ng-template>

<ng-container *ngIf="books; else loading">
  <br-book
    *ngFor="let b of books"
    [book]="b"
    (rateUp)="rateUp($event)"
    (rateDown)="rateDown($event)"></br-book>

  <ul>
    <li *ngFor="let b of books; index as i">{{ i + 1 }} {{ b.title }}</li>
  </ul>


  <strong>Anzahl Bücher:</strong> {{ books.length }}

  <br-card [title]="books[0].title" body="Das ist ein Test">
    hdsuvhoödsgjhsuidgfidsköjioh
    <p>
      <strong>Hallo Welt</strong>
      {{ books[0].title }}
    </p>
  </br-card>


  <br-card body="Ein Test ohne Title"></br-card>


</ng-container>
