<ul>
  <li>Erstelle ein eigenes Observable und abonniere den Datenstrom.</li>
  <li>Du kannst die Methode <code>this.log()</code> verwenden, um eine Nachricht im schwarzen Fenster auszugeben.</li>
  <li>Nutze den Konstruktor <code>new Observable()</code> und stelle einen eigenen <em>Producer</em> zur Verfügung.</li>
  <li>Experimentiere dann mit <code>of()</code>, <code>from()</code>, <code>timer()</code> und <code>interval()</code>.</li>
</ul>

<rxw-history [logStream]="logStream$"></rxw-history>
